
strong { 
    font-weight:  700;
    color: #0c1d37; 
} 

.block-hero { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    text-align: center;
}
.card-group{
    z-index: -1;
}
/* .card:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card:hover .backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #1b9ce3;
    animation: popBackground 0.3s ease-in
} */


 @media only screen and (max-width: 657px) {
    .card-group{
        /* background-color: #12b361; */
        display: flex;
        flex-direction:column;
    }
}


.content { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    margin-top: 20%;
    max-width: 1200px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.section-hero { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 190px 30px 140px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

h1 { 
    font-size:  60px; 
    margin:    .67em 0;
    font-weight:  700; 
    margin-bottom:  28px; 
    line-height:  122%; 
    margin-top:  0px; 
    color: #0c1d37; 
    letter-spacing: -1px;
} 

.heading-hero { 
    max-width: 1100px;
} 

.block-center { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    max-width: 80%; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    text-align: center;
} 

.section { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 85px 30px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

h2 { 
    font-weight:  700; 
    margin-bottom:  24px; 
    font-size:  48px; 
    line-height:  117%; 
    margin-top:  0px; 
    color: #0c1d37; 
    letter-spacing: -0.7px;
} 

.heading { 
    font-size: 32px;
} 

p { 
    margin-top:  0; 
    margin-bottom:  28px;
} 

.paragraph-hero { 
    max-width: 500px; 
    margin-bottom: 34px;
} 

.grid-feature { 
    width: 100%; 
    margin-top: 20px; 
    grid-column-gap: 30px; 
    grid-row-gap: 30px; 
    -ms-grid-columns: 1fr 1fr 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    -ms-grid-rows: auto; 
    grid-template-rows: auto;
} 

.feature { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: start; 
    -webkit-justify-content: flex-start; 
    -ms-flex-pack: start; 
    justify-content: flex-start; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    text-align: center;
} 

h5 { 
    font-weight:  700; 
    margin-bottom:  18px; 
    font-size:  22px; 
    line-height:  125%; 
    margin-top:  0px; 
    color: #0c1d37; 
    letter-spacing: -0.3px;
} 

.heading-feature { 
    margin-bottom: 14px;
} 

.paragraph-feature { 
    max-width: 330px; 
    margin-bottom: 20px; 
    font-size: 16px; 
    line-height: 170%;
} 

.w-form-done { 
    display: none; 
    padding: 20px; 
    text-align: center; 
    background-color: #dddddd;
} 

.w-form { 
    margin: 0 0 15px;
} 

.form-block-banner { 
    max-width: 420px;
} 

.form-block-banner.herocta { 
    max-width: 100%;
} 

.success-text { 
    color: #12b361; 
    line-height: 140%;
} 

.icon-feature-bg { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-bottom: 28px; 
    padding: 25px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 24px; 
    background-color: #fff; 
    box-shadow: 0 25px 50px -10px rgba(100, 44, 0, 0.07);
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-DnIKo.style-DnIKo {  
   opacity: 1;  
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);  
    transform-style: preserve-3d;  
}  
#style-krj7o.style-krj7o {  
   opacity: 1;  
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);  
    transform-style: preserve-3d;  
}  
#style-zjmXD.style-zjmXD {  
   opacity: 1;  
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);  
    transform-style: preserve-3d;  
}  
#style-54Fir.style-54Fir {  
   opacity: 1;  
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);  
    transform-style: preserve-3d;  
}  
#style-BHG1z.style-BHG1z {  
   opacity: 1;  
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);  
    transform-style: preserve-3d;  
}  
